@import url("./reset.css");

nav ul {
	display: flex;
	gap: 2em;
	width: 100vw;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	margin-bottom: 50px;
	background: gray;
	height: 50px;
}

a {
	color: var(--clear-color);
}

.container {
	width: 100vw;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
